<div id="static-root"></div>


<div class="splash-page-holder">
  <div class="container-fluid">
    <div class="row panel1">
      <div class="button-holders">

        <div class="create-account-button" id="create-account-link">
          Sign Up
        </div>

        <div class="auth-outer-window" id="signup-form-outer-window">
          <div class="auth-inner-window" id="signup-form-inner-window">
            <form action="<%= users_url %>" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

              <div class="form-group">
                <label for="user-fname">First name</label><br>
                <input
                  type="text"
                  name="user[fname]"
                  class="form-control"
                ><br>
              </div>

              <div class="form-group">
                <label for="user-lname">Last name</label><br>
                <input
                  type="text"
                  name="user[lname]"
                  class="form-control"
                ><br>
              </div>

              <div class="form-group">
                <label for="user-email">Email</label><br>
                <input
                  type="text"
                  name="user[email]"
                  class="form-control"
                ><br>
              </div>

              <div class="form-group">
                <label for="user-password">Password</label><br>
                <input
                  type="password"
                  name="user[password]"
                  id="user-password"
                  class="form-control"
                ><br>
              </div>

              <input type="radio" name="user[is_robot]" id="is_robot_true" value=false>
              <label for="is_robot_true">I seek robot help.</label>
              <br>

              <input type="radio" name="user[is_robot]" id="is_robot_true" value=true>
              <label for="is_robot_false">I'm a robot looking for work.</label>
              <br>

              <div>
                <button
                  class="btn btn-default"
                  type="submit"
                  value="Signup">
                  Create Account
                </button>
              </div>
              <% if flash[:create_account_errors] %>
                <% flash[:create_account_errors].each do |error| %>
                  <div><%= error %></div>
                <% end %>
              <% end %>
            </form>
          </div>
        </div>


        <div class="login-button">
          Login
        </div>

        <div class="auth-outer-window login-user" id="login-form-outer-window">
          <div class="auth-inner-window" id="login-form-inner-window">
            <form action="<%= session_index_url %>" method="post" class="">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

              <div class="form-group">
                <label for="session-email">Email</label><br>
                <input
                  type="text"
                  name="session[email]"
                  class="form-control"
                  value=""
                  id="session-email"><br>
              </div>

              <div class="form-group">
                <label for="session-password">Password</label><br>
                <input
                  type="password"
                  name="session[password]"
                  class="form-control"
                  value=""
                  id="session-password"><br>
              </div>
              <div>
                <button
                  class="btn btn-default"
                  type="submit"
                  value="Login">
                  Login
                </button>
              </div>
              <% if flash[:login_errors] %>
                <% flash[:login_errors].each do |error| %>
                  <div><%= error %></div>
                <% end %>
              <% end %>
            </form>
          </div>
        </div>

      </div>
      <div class="panel1-main">
        <div class="header">
          RoboTask
        </div>

        <div class="tag">
          Connecting clients who need robots<br/>
          to robots who need money.
        </div>
      </div>
    </div>

    <div class="row infosection client">
      <div class="col-xs-12 col-sm-7 pics">
        <div class="thumb-holder">
          <img class="thumb thumb-robot thumb-1"/><img class="thumb thumb-robot thumb-2"/><img class="thumb thumb-robot thumb-3"/>
          <img class="thumb thumb-robot thumb-4"/><img class="thumb thumb-robot thumb-5"/><img class="thumb thumb-robot thumb-5"/>
          <img class="thumb thumb-robot thumb-6"/><img class="thumb thumb-robot thumb-8"/><img class="thumb thumb-robot thumb-9"/>
          <img class="thumb thumb-robot thumb-10"/><img class="thumb thumb-robot thumb-11"/><img class="thumb thumb-robot thumb-12"/>
          <img class="thumb thumb-robot thumb-13"/><img class="thumb thumb-robot thumb-14"/><img class="thumb thumb-robot thumb-15"/>
          <img class="thumb thumb-robot thumb-16"/><img class="thumb thumb-robot thumb-17"/><img class="thumb thumb-robot thumb-18"/>
          <img class="thumb thumb-robot thumb-19"/><img class="thumb thumb-robot thumb-20"/><img class="thumb thumb-robot thumb-21"/>
        </div>
        <div class="thumb-tagline">
          We have Robots.
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 information">
        <div class="header">
          Need Robot help?
        </div>
        <div class="subheader">
          With RoboTask, it's simple.
        </div>
        <div class="subtitle">
          Here's how it works.
        </div>

        <div class="steps-list">
          <div class="list-entry">
            1. Tell us what you need help with.
          </div>
          <div class="list-entry">
            2. Choose a date and time.
          </div>
          <div class="list-entry">
            3. Select a RoboTasker, or post to the open market.
          </div>
        </div>

        <div class="guest-container">
          Try it now, risk free!
          <form action="<%= session_index_url %>" method="post" class="">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="session[email]" value="client@guest.guest" />
            <input type="hidden" name="session[password]" value="password" />
            <button class="btn btn-link" id="larger-button" type="submit" value="Login">
              Guest Client Login
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="row divider">
      <div class="content">
        <div class="header">
          Satisfaction Guaranteed.
        </div>

        <div class="tag">
          Or your money back.
        </div>
      </div>
    </div>

    <div class="row infosection robot">
      <div class="col-xs-12 col-sm-5 information">
        <div class="header">
          Are you a robot?
        </div>
        <div class="subheader">
          Looking for work? Look no further.
        </div>
        <div class="subtitle">
          Here's what you do.
        </div>

        <div class="steps-list">
          <div class="list-entry">
            1. Choose your work availability.
          </div>
          <div class="list-entry">
            2. Tells us about your skills.
          </div>
          <div class="list-entry">
            3. Wait for a client to hire you, or search our task map for open jobs.
          </div>
        </div>

        <div class="guest-container">
          Try it now, risk free!
          <form action="<%= session_index_url %>" method="post" class="">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="session[email]" value="robot@guest.guest" />
            <input type="hidden" name="session[password]" value="password" />
            <button class="btn btn-link" id="larger-button" type="submit" value="Login">
              Guest Robot Login
            </button>
          </form>
        </div>
      </div>

      <div class="col-xs-12 col-sm-7 pics">
        <div class="thumb-holder">
          <img class="thumb thumb-client thumb-1"/><img class="thumb thumb-client thumb-2"/><img class="thumb thumb-client thumb-3"/>
          <img class="thumb thumb-client thumb-4"/><img class="thumb thumb-client thumb-5"/><img class="thumb thumb-client thumb-5"/>
          <img class="thumb thumb-client thumb-6"/><img class="thumb thumb-client thumb-8"/><img class="thumb thumb-client thumb-9"/>
          <img class="thumb thumb-client thumb-10"/><img class="thumb thumb-client thumb-11"/><img class="thumb thumb-client thumb-12"/>
          <img class="thumb thumb-client thumb-13"/><img class="thumb thumb-client thumb-14"/><img class="thumb thumb-client thumb-15"/>
          <img class="thumb thumb-client thumb-16"/><img class="thumb thumb-client thumb-17"/><img class="thumb thumb-client thumb-18"/>
          <img class="thumb thumb-client thumb-19"/><img class="thumb thumb-client thumb-20"/><img class="thumb thumb-client thumb-21"/>
        </div>
        <div class="thumb-tagline">
          Plenty of Clients.
        </div>

      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(".thumb-robot").each(function(idx) {
    // debugger
    var url = "https://robohash.org/" + Math.round(Math.random() * 1000) + "?bgset=any";
    $(this).attr("src", url)
    if (idx >= 18) {
      if (window.innerWidth > 1539) {
        $(this).css("display", "inline")
      } else {
        $(this).css("display", "none")
      }
    } else if (idx >= 15) {
      if (window.innerWidth > 1310) {
        $(this).css("display", "inline")
      } else {
        $(this).css("display", "none")
      }
    } else if (idx >= 12) {
      if (window.innerWidth > 1127) {
        $(this).css("display", "inline")
      } else {
        $(this).css("display", "none")
      }
    }
  });

  $(".thumb-client").each(function(idx) {
    // debugger
    var url = "https://robohash.org/" + Math.round(Math.random() * 1000) + "?set=set2&bgset=any";
    $(this).attr("src", url)
    if (idx >= 18) {
      if (window.innerWidth > 1539) {
        $(this).css("display", "inline")
      } else {
        $(this).css("display", "none")
      }
    } else if (idx >= 15) {
      if (window.innerWidth > 1310) {
        $(this).css("display", "inline")
      } else {
        $(this).css("display", "none")
      }
    } else if (idx >= 12) {
      if (window.innerWidth > 1127) {
        $(this).css("display", "inline")
      } else {
        $(this).css("display", "none")
      }
    }
  });

  $(window).resize(function() {
    $(".thumb-robot").each(function(idx) {
      if (idx >= 18) {
        if (window.innerWidth > 1539) {
          $(this).css("display", "inline")
        } else {
          $(this).css("display", "none")
        }
      } else if (idx >= 15) {
        if (window.innerWidth > 1310) {
          $(this).css("display", "inline")
        } else {
          $(this).css("display", "none")
        }
      } else if (idx >= 12) {
        if (window.innerWidth > 1127) {
          $(this).css("display", "inline")
        } else {
          $(this).css("display", "none")
        }
      }
    });
    $(".thumb-client").each(function(idx) {
      if (idx >= 18) {
        if (window.innerWidth > 1539) {
          $(this).css("display", "inline")
        } else {
          $(this).css("display", "none")
        }
      } else if (idx >= 15) {
        if (window.innerWidth > 1310) {
          $(this).css("display", "inline")
        } else {
          $(this).css("display", "none")
        }
      } else if (idx >= 12) {
        if (window.innerWidth > 1127) {
          $(this).css("display", "inline")
        } else {
          $(this).css("display", "none")
        }
      }
    });
  });


  if (window.CURRENT_USER_ID) {
    $("div.splash-page-holder").css('display', "none");
  } else {
    $("div.splash-page-holder").css('display', "block");
  }

  $('.login-button').click(function() {
    $('#login-form-outer-window').toggle();
  });
  $('.create-account-button').click(function() {
    $('#signup-form-outer-window').toggle();
  });

</script>

<% if flash[:login_errors] %>
  <script>
    $('#login-form-outer-window').show();
  </script>
<% end %>

<% if flash[:create_account_errors] %>
  <script>
    $('#signup-form-outer-window').show();
  </script>
<% end %>
