<div id="static-root" />
<div class="splash-page-holder">
  <div class="container-fluid">
    <div class="row panel1">
      <div class="button-holders">

        <div class="create-account-button" id="create-account-link">
          Sign Up
        </div>

        <div class="auth-outer-window" id="signup-form-outer-window">
          <div class="auth-inner-window" id="signup-form-inner-window">
            <form action="<%= users_url %>" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

              <div class="form-group">
                <label for="user-fname">First name</label><br>
                <input
                  type="text"
                  name="user[fname]"
                  class="form-control"
                  id="user-fname"
                  value=<%= params[:user][:fname] if params[:user] %>
                ><br>
              </div>

              <div class="form-group">
                <label for="user-lname">Last name</label><br>
                <input
                  type="text"
                  name="user[lname]"
                  class="form-control"
                  id="user-lname"
                  value=<%= params[:user][:lname] if params[:user] %>
                ><br>
              </div>

              <div class="form-group">
                <label for="user-email">Email</label><br>
                <input
                  type="text"
                  name="user[email]"
                  class="form-control"
                  id="user-email"
                  value=<%= params[:user][:email] if params[:user] %>
                ><br>
              </div>

              <div class="form-group">
                <label for="user-password">Password</label><br>
                <input
                  type="password"
                  name="user[password]"
                  id="user-password"
                  class="form-control"
                ><br>
              </div>

              <input type="radio" name="user[is_robot]" id="is_robot_true" value=false
                <%= "checked" if params[:user] && params[:user][:is_robot] == "false" %>>
              <label for="is_robot_true">I seek robot help.</label>
              <br>

              <input type="radio" name="user[is_robot]" id="is_robot_true" value=true
                <%= "checked" if params[:user] && params[:user][:is_robot] == "true" %>>
              <label for="is_robot_false">I'm a robot looking for work.</label>
              <br>

              <div>
                <button class="btn btn-default" type="submit" value="Signup">
                  Create Account
                </button>
              </div>
              <% if flash[:create_account_errors] %>
                <% flash[:create_account_errors].each do |error| %>
                  <div class="errors"><%= error %></div>
                <% end %>
              <% end %>
            </form>
          </div>
        </div>

        <div class="login-button" id="login-button">Login</div>
        <div class="auth-outer-window login-user" id="login-form-outer-window">
          <div class="auth-inner-window" id="login-form-inner-window">
            <form action="<%= session_index_url %>" method="post" class="">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

              <div class="form-group">
                <label for="session-email">Email</label><br>
                <input
                  type="text"
                  name="session[email]"
                  class="form-control"
                  id="session-email"
                  value=<%= params[:session][:email] if params[:session] %>
                ><br>
              </div>

              <div class="form-group">
                <label for="session-password">Password</label><br>
                <input
                  type="password"
                  name="session[password]"
                  class="form-control"
                  value=""
                  id="session-password"><br>
              </div>
              <div>
                <button class="btn btn-default" type="submit" value="Login">
                  Login
                </button>
              </div>
              <% if flash[:login_errors] %>
                <% flash[:login_errors].each do |error| %>
                  <div class="errors"><%= error %></div>
                <% end %>
              <% end %>
            </form>
          </div>
        </div>

      </div>
      <div class="panel1-main">
        <div class="header">
          RoboTask
        </div>

        <div class="tag">
          Connecting clients who need robots<br/>
          to robots who need money.
        </div>
      </div>
    </div>

    <div class="row infosection client">
      <div class="col-xs-12 col-sm-7 pics">
        <div class="thumb-holder" id="robot-thumb-holder">
          <script>
            for (var i = 1; i < 22; i++) {
              $("#robot-thumb-holder").append(
                "<img class='thumb thumb-robot thumb-" + i + "'/>"
              )
            }
          </script>
        </div>
        <div class="thumb-tagline">
          We have Robots.
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 information">
        <div class="header">
          Need Robot help?
        </div>
        <div class="subheader">
          With RoboTask, it's simple.
        </div>
        <div class="subtitle">
          Here's how it works.
        </div>

        <div class="steps-list">
          <div class="list-entry">
            1. Tell us what you need help with.
          </div>
          <div class="list-entry">
            2. Choose a date and time.
          </div>
          <div class="list-entry">
            3. Select a RoboTasker, or post to the open market.
          </div>
        </div>

        <div class="guest-container">
          Try it now, risk free!
          <form action="<%= session_index_url %>" method="post" class="">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="session[email]" value="client@guest.guest" />
            <input type="hidden" name="session[password]" value="password" />
            <button class="btn btn-link" id="larger-button" type="submit" value="Login">
              Guest Client Login
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="row divider">
      <div class="content">
        <div class="header">
          Satisfaction Guaranteed.
        </div>

        <div class="tag">
          Or your money back.
        </div>
      </div>
    </div>

    <div class="row infosection robot">
      <div class="col-xs-12 col-sm-5 information">
        <div class="header">
          Are you a robot?
        </div>
        <div class="subheader">
          Looking for work? Look no further.
        </div>
        <div class="subtitle">
          Here's what you do.
        </div>

        <div class="steps-list">
          <div class="list-entry">
            1. Choose your work availability.
          </div>
          <div class="list-entry">
            2. Tells us about your skills.
          </div>
          <div class="list-entry">
            3. Wait for a client to hire you, or search our task map for open jobs.
          </div>
        </div>

        <div class="guest-container">
          Try it now, risk free!
          <form action="<%= session_index_url %>" method="post" class="">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="session[email]" value="robot@guest.guest" />
            <input type="hidden" name="session[password]" value="password" />
            <button class="btn btn-link" id="larger-button" type="submit" value="Login">
              Guest Robot Login
            </button>
          </form>
        </div>
      </div>

      <div class="col-xs-12 col-sm-7 pics">
        <div class="thumb-holder" id ="client-thumb-holder">
          <script>
            for (var i = 1; i < 22; i++) {
              $("#client-thumb-holder").append(
                "<img class='thumb thumb-client thumb-" + i + "'/>"
              )
            }
          </script>
        </div>
        <div class="thumb-tagline">
          Plenty of Clients.
        </div>

      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  if (window.IS_CURRENT_USER_LOGGED_IN) {
    $("div.splash-page-holder").css("display", "none");
  } else {
    $("div.splash-page-holder").css("display", "block");

    $(".login-button").click(function() {
      $("#login-form-outer-window").toggle();
    });
    $(".create-account-button").click(function() {
      $("#signup-form-outer-window").toggle();
    });

    var displayType, idx;
    function adjustIcons (width) {
      idx = parseInt(this.className.match(/(\d+)$/)[0]);
      if (idx > 18) { displayType = width > 1491 ? "inline" : "none"; }
      else if (idx > 15) { displayType = width > 1286 ? "inline" : "none"; }
      else if (idx > 12) { displayType = width > 1079 ? "inline" : "none"; }
      else { displayType = "inline"; }
      $(this).css("display", displayType);
    }

    $(".thumb").each(function() {
      // NOTE: RoboHash currently down, so use personally hosted RoboHash fork
      // var url = "https://robohash.org/" + Math.round(Math.random() * 1000) + "?bgset=any";
      var url = "http://robohash-temp.herokuapp.com/" + Math.round(Math.random() * 1000);
      if (this.className.match(/thumb-client/)) { url += "&set=set2"; }
      $(this).attr("src", url);
      adjustIcons.call(this, window.innerWidth);
    });

    $(window).resize(function() {
      $(".thumb").each(function() { adjustIcons.call(this, window.innerWidth); });
    });
  }
</script>

<% if flash[:login_errors] %>
  <script>$("#login-form-outer-window").show();</script>
<% end %>

<% if flash[:create_account_errors] %>
  <script>$("#signup-form-outer-window").show();</script>
<% end %>
