<div class="auth-container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#collapse-menu"
              aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">RoboTask</a>
    </div>

    <div class="collapse navbar-collapse" id="collapse-menu">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://www.taskrabbit.com">inspired by TaskRabbit</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="auth-outer-window" id="login-form-outer-window">
    <div class="auth-inner-window" id="login-form-inner-window">
      <h3>Login</h3>
      <form action="<%= session_index_url %>" method="post" class="">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <div class="form-group">
          <label for="session-email">Email</label><br>
          <input
            type="text"
            name="session[email]"
            class="form-control"
            value=""
            id="session-email"><br>
        </div>

        <div class="form-group">
          <label for="session-password">Password</label><br>
          <input
            type="password"
            name="session[password]"
            class="form-control"
            value=""
            id="session-password"><br>
        </div>
        <div>
          <button
            class="btn btn-default"
            type="submit"
            value="Login">
            Login
          </button><br/><br/>
          <form action="<%= session_index_url %>" method="post" class="">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="session[email]" value="client@guest.guest" />
            <input type="hidden" name="session[password]" value="password" />
            <button class="btn btn-default" type="submit" value="Login">
              Guest Client Login
            </button>
          </form>
          <form action="<%= session_index_url %>" method="post" class="">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="session[email]" value="robot@guest.guest" />
            <input type="hidden" name="session[password]" value="password" />
            <button class="btn btn-default" type="submit" value="Login">
              Guest Robot Login
            </button>
          </form>
        </div><br/>
        <div><a href="/users/new"> New user? </a></div>
        <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
            <div><%= error %></div>
          <% end %>
        <% end %>
      </form>
    </div>
  </div>
</div>
