<!DOCTYPE html>
<html>
<head>
  <title>RoboTask</title>
  <script
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDFHev4jR0Hxl8Ris7v0STFhW1Q32UTw7A">
  </script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <script>
    window.CURRENT_USER_ID = <%= current_user.id %>
  </script>
  <!-- logged in as: <%#= current_user.email %> -->
  <%#= button_to "Logout", session_url, method: :delete %>
<% else %>
  <%#= link_to "Signup", new_user_url %>
  <%#= link_to "Login", new_session_url %>
<% end %>

<% if flash[:errors] %>
  <!-- <script>
    window.FLASH_ERRORS = <%= flash[:errors] %>
  </script> -->
<% end %>

<% if flash[:notices] %>
  <!-- <script>
    window.FLASH_NOTICES = <%= flash[:notices] %>
  </script> -->
<% end %>

  <%= yield %>

</body>
</html>
