<!DOCTYPE html>
<html>
<head>
  <title>RoboTask</title>
  <script
    src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDFHev4jR0Hxl8Ris7v0STFhW1Q32UTw7A">
  </script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <script>
    window.IS_CURRENT_USER_LOGGED_IN = <%= current_user ? true : false %>
  </script>
<% end %>

  <%= yield %>

</body>
</html>
