<!DOCTYPE html>
<html>
<head>
  <title>RoboTask</title>
  <script
    src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDFHev4jR0Hxl8Ris7v0STFhW1Q32UTw7A">
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Test1 -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-1031548899373280"
       data-ad-slot="7095306654"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

<% if current_user %>
  <script>
    window.IS_CURRENT_USER_LOGGED_IN = <%= current_user ? true : false %>
  </script>
<% end %>

  <%= yield %>

</body>
</html>
